/* global */

  :root {

  }
  
  * {

  }
            
  body {
  background-color: black ;
  color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

  }
  
  p {

  }

  .contentContainer {

  }
  .pageSection {
  
  }
  
  /*  nav */
  .navSec {

  }

  .navBar {

  }
  
  /* hero banner */
  .heroSec {
    height: 20em;
    width: 100%;

  }

  .heroBanner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/woodbanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;

  }

  .heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /* about me */

  #aboutMe {

  }

  .jumbotronSec {

  }
  .portrait-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .portrait {
    width: 14em ;
    height: 20em;
  }
  
  /* portfolio */

  #portfolio {

  }
  
  .containerBlock {
    
  }

  .portfolioSec {

  }

  /* skills */

  #skills {

  }

  .skillsSec {

  }


  /* footer // contact */
  
  #contact {

  }

  .contactSec {

  }